<head>
    <!-- My Own Styles -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/sidenav.css">

    <!-- Font Awesome for Awesome icons  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.0/css/mdb.min.css" rel="stylesheet">

</head>

<body>
    <!-- Category Edit and Display  -->
    <div class="ui header text-center" style="margin-left:20px;">

        <!-- Display Class Name -->
        <h2>
            <strong>Configure Category</strong>
            <hr style="width:50%; margin-top:5px;">
        </h2>

        <!-- Display Table Options -->
        <div class="ui main show-page container">
            <!-- Assignment Configuration -->
            <div id="header" class="wrapper-modal-editor">
                <div class="row d-flex justify-content-center modalWrapper mb-3"style="margin-top: -40px">

                    <!-- Add new assignment to the table  -->
                    <div class="text-center">
                        <a href="/users/<%= currentUser._id %>/classes/<%= classFound._id %>/categories/new"
                            class="btn btn-info btn-rounded btn-sm" id="addcategory">Add
                            <i class="fas fa-plus-square ml-1"></i>
                        </a>
                    </div>
                    <div class="modal fade addNewInputs" id="modalAddCategory">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>

                    <!-- Edit the selected assignment  -->
                    <div class="text-center buttonEditWrapper">
                        <button class="btn btn-info btn-rounded btn-sm buttonEdit" id="editCategory" disabled>Edit
                            <i class="fas fa-pencil-square ml-1"></i>
                        </button>
                    </div>
                    <div class="modal fade modalEditClass" id="modalEditCategory">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>

                    <!-- Delete the selected  assignment  -->
                    <div class="text-center">
                        <button class="btn btn-danger btn-sm btn-rounded buttonDelete delete-form" id="deleteCategory" disabled>
                            Delete <i class="fas fa-times ml-1"></i>
                        </button>
                    </div>
                    <div class="modal fade" id="modalDeleteCategory">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Assignments Table -->

            <table id="categoryTable" class="table table-striped table-bordered text-center" cellspacing="0"
                width="100%">
                <thead>
                    <th class="th-sm">Name</th>
                    <th class="th-sm">Weight</th>
                    <th class="th-sm">Total Number</th>
                </thead>
                <tbody>
                    <% classFound.categories.forEach(function(category){ %>
                    <tr onclick="editCategoryTable('<%=currentUser._id %>','<%=classFound._id %>','<%=category._id %>')">
                        <td id="name"> <%= category.name %></td>
                        <td id="weight"> <%= category.weight %> %</td>
                        <td id="total" data-toggle="popover" data-placement="top" title="Assignment Name"
                            data-html="true" data-content="
                        <% category.assignments.name.forEach((name) => { %>
                            <div class='text-center'> 
                                <%= name %> <br/>
                            </div>
                        <% }) %>" data-trigger="hover"> <%= category.assignments.name.length %></td>
                        <td id="<%= category._id %>" class="d-none"></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>

        </div>
    </div>
</body>

<footer>
    <!-- Own JS file -->
    <script src="/js/categories.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.0/js/mdb.min.js">
    </script>
</footer>





<% include ../partials/footer %>