<form id="editClassForm" action="/classes/<%= editClass._id %>?_method=PUT" method="post">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Edit
      <%= editClass.className %>
    </h4>
    <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="md-form mb-5">
      <input name="updateClass[className]" type="text" id='inputName' value="<%= editClass.className %>" class="form-control validate">
      <label data-error="wrong" data-success="right" class='active' for="inputName">Class Name</label>
    </div>
    <div class="md-form mb-5">
      <input name="updateClass[courseName]" type="text" value="<%= editClass.courseName %>" class="form-control validate">
      <label data-error="wrong" data-success="right" class='active' for="inputPosition">Course Name</label>
    </div>
    <div class="md-form mb-5">
      <input name="updateClass[professor]" type="text" value="<%= editClass.professor %>" class="form-control validate">
      <label data-error="wrong" data-success="right" class='active' for="inputPosition">Professor Name</label>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
    <button onclick="form_submit()" type="submit" class="btn btn-outline-primary btn-block buttonAdd" data-dismiss="modal">Edit Class
      <i class="fas fa-paper-plane-o ml-1"></i>
    </button>
  </div>
</form>
<script type="text/javascript">
  function form_submit() {
    $('#editClassForm').submit()
  }
</script>
