<!-- TODO: Add a search bar -->
<!-- TODO: Add a current grade for each class -->

<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/class.css">
<div id="container">
  <h1> Class List
    <div id="plus-sign" class="wrapper-modal-editor">
      <div class="row d-flex justify-content-center modalWrapper">

        <!-- Add a new class -->
        <div class="text-center">
          <% if(!currentUser){ %>
          <a href="/">
            <i class="fas fa-plus" data-toggle="popover" data-content="Add a Class" data-placement="top"
              data-trigger="hover" style="color:white;">
            </i>
          </a>
          <% }else { %>
          <a href="/users/<%= userFound._id %>/classes/new" id="addClass">
            <i class="fas fa-plus" data-toggle="popover" data-content="Add a Class" data-placement="top"
              data-trigger="hover" style="color:white;">
            </i>
          </a>
          <%} %>
        </div>

        <div class="modal fade addNewInputs" id="modalAddClass">
          <div class="modal-dialog">
            <div class="modal-content">
            </div>
          </div>
        </div>

      </div>
    </div>

  </h1>

  <ul class="list-group">

    <% userFound.classes.forEach(function(oneClass){ %>
    <li class="className">

      <!-- Delete a class button  -->
      <div class="text-center">
        <% if(!currentUser){  %>
        <a href="/" class="delete">
          <i class="fas fa-trash-alt text-white"></i>
        </a>
        <% } else { %>
        <a href='/users/<%= userFound._id %>/classes/<%= oneClass._id %>/delete'
          onclick="setDeleteAction('<%= userFound._id %>','<%= oneClass._id %>')" class="deleteClass">
          <i class="fas fa-trash-alt"></i>
        </a>
        <a href='/' class="configClass">
            <i class="fas fa-tasks fa-2x"></i>
        </a>
        <% } %>
      </div>

      <div class="modal fade" id="modalDelete">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>



      <!-- Show class Details -->
      <a class="align-middle ml-3" href="/users/<%= userFound._id %>/classes/<%= oneClass._id %>"
        style="  font-size: 2rem;">
        <%= oneClass.className %>
      </a>
    </li>
    <% }) %>
  </ul>
</div>

<script type="text/javascript" src="/js/classes.js"></script>
<% include ../partials/footer %>