<% include ../partials/header %>

<% numberOfAssign = 0 %>
<% gradeArr       = [] %>
<% totalArr       = [] %>
<% idArr          = [] %>
<% classFound.assignments.forEach(function(oneClass){ %>
    <% numberOfAssign += 1 %>
    <% gradeArr.push(oneClass.grade) %>
    <% totalArr.push(oneClass.total) %>
    <% idArr.push(oneClass._id) %>
<% }) %>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Grade Picker</h2>
  <hr>
  <div class="ui form">
    <div class="field">
      <label>Pick A Grade: </label>
      <select class="ui selection dropdown" name="grade" id="grade-selector">
        <option value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
        <option value="d">D</option>
        <option value="f">F</option>
      </select>
    </div>

    <button
      class="ui inverted blue button"
      onclick="runClass('<%=numberOfAssign%>','<%=[ gradeArr ]%>','<%=[ totalArr ]%>','<%=[ idArr ]%>')">
      Submit
    </button>
  </div>
</div>

<div class="ui main show-page container">
  <h1 id="header"> Class Name:
    <%= classFound.className %>
    <a href="/classes/<%= classFound._id %>/assignment/new">
      <div class="ui icon button" data-tooltip="Add an Assignment to the class">
        <i class="plus icon"></i>
      </div>
    </a>
  </h1>

  <table class="ui celled table">
    <thead>
      <th style="width:30px;"></th>
      <th>Name</th>
      <th>Grade</th>
      <th>Total</th>
      <th> Estimate </th>
    </thead>
    <% classFound.assignments.forEach(function(oneClass){ %>
    <tr>
      <td><a href="/classes/<%= classFound._id%>/assignment/<%= oneClass._id%>/edit"><i class="edit icon"></i></a></td>
      <td>
        <%= oneClass.name %>
      </td>
      <td>
        <%= oneClass.grade %>
      </td>
      <td>
        <%= oneClass.total %>
      </td>
      <td id="<%= oneClass._id %>"> </td>
    </tr>
    <% }) %>
  </table>
</div>

<script type="text/javascript" src="/js/result.js"></script>
<% include ../partials/footer %>
