<% include ../partials/header %>
<header>

</header>

<body id="showBody">
  <!-- Display the calculation errors -->
  <div class=" d-flex container justify-content-center">
    <div class="text-center w-75" id="message"></div>
  </div>

  <div class="wrapper">

    <!-- Page Content  -->
    <div id="content">
      <!-- Class Edit and Display  -->
      <div class="ui header text-center" style="margin-left:20px;">
        <h1>
          <a id="editClass" href="/users/<%= currentUser._id %>/classes/<%= classFound._id%>/edit" data-toggle="popover"
            data-placement="top" title="<%= classFound.className %>" data-html="true" data-content="Course Name: <%= classFound.courseName %> <br/>
              Professor: <%=classFound.professor %>" data-trigger="hover">
            <strong class="classNameInShow"><%= classFound.className %></strong>
          </a>
          <div class="modal fade modalEditClass" id="editOneClass">
            <div class="modal-dialog">
              <div class="modal-content">
              </div>
            </div>
          </div>

          <hr style="width:30%; margin-top:5px;">
        </h1>
      </div>

      <!-- Grade picker  -->
      <div id="widnow" class="widnow ui raised very padded text container segment">
        <div id="title_bar" class="ui header">
          <div id="button">-</div>
        </div>

        <div id="box" class="ui form">
          <div class="text-center">
            <h3 style="display: inline-block; margin-right:10px;" class="ui header"><label>Pick A Grade: </label></h3>
            <select class="ui selection dropdown" name="grade" id="grade-selector">
              <option value="a">A</option>
              <option value="b">B</option>
              <option value="c">C</option>
              <option value="d">D</option>
              <option value="f">F</option>
            </select>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-info btn-rounded btn-md"
              onclick="runClass('<%= JSON.stringify(classFound) %>')">
              Submit
            </button>
          </div>
        </div>
      </div>

      <div class="main show-page container">
        <!-- Assignment Configuration -->
        <div id="header" class="wrapper-modal-editor">
          <div class="row d-flex justify-content-center modalWrapper">

            <!-- Add new assignment to the table  -->
            <div class="text-center" style="margin-left: 39%">
              <a href="/users/<%= currentUser._id %>/classes/<%= classFound._id %>/assignments/new"
                class="btn btn-info btn-rounded btn-sm" id="addAssignment">Add
                <i class="fas fa-plus-square ml-1"></i>
              </a>
            </div>
            <div class="modal fade addNewInputs" id="modalAdd">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
              </div>
            </div>

            <!-- Edit the selected assignment  -->
            <div class="text-center buttonEditWrapper">
              <button class="btn btn-info btn-rounded btn-sm buttonEdit" id="editAssignment" disabled>Edit
                <i class="fas fa-pencil-square ml-1"></i>
              </button>
            </div>
            <div class="modal fade modalEditClass" id="modalEdit">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
              </div>
            </div>

            <!-- Delete the selected  assignment  -->
            <div class="text-center">
              <button id="deleteAssignment" class="btn btn-danger btn-sm btn-rounded buttonDelete delete-form" disabled>
                Delete <i class="fas fa-times ml-1"></i>
              </button>
            </div>
            <div class="modal fade" id="modalDelete">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
              </div>
            </div>

            <!-- Save the new order -->
            <form action="/users/<%=currentUser._id %>/classes/<%= classFound._id %>/assignments/reorder" method="POST">
              <input type="hidden" name="newOrderInput">
              <button type="submit" class="btn btn-info btn-rounded btn-sm buttonEdit" id="saveOrder" hidden>Save
                <i class="fas fa-pencil-square ml-1"></i>
              </button>
            </form>

            <!-- Settings for categories  -->
            <div class="ml-auto mb-4">
              <a href="/users/<%= currentUser._id %>/classes/<%= classFound._id %>/categories" type="button"
                id="sidebarCollapse" data-toggle="popover" data-placement="bottom"
                data-content="Configure Your Class Category" data-trigger="hover">
                <i class="fas fa-cog fa-3x text-muted"></i>
              </a>
            </div>

          </div>
        </div>

        <!-- Assignments Table -->
        <table id="dtBasicExample" class="table table-striped table-bordered text-center" cellspacing="0" width="100%">

          <thead>
            <th class="th-sm">Name</th>
            <th class="th-sm">Grade</th>
            <th class="th-sm">Total</th>
            <th class="th-sm" id="estimateColumn" hidden> Estimate </th>
          </thead>

          <tbody>
            <% classFound.assignments.forEach(function(oneClass){ %>
            <tr id="rowid" style="font-size: 14px;"
              onclick="editRow('<%=currentUser._id %>','<%=classFound._id %>','<%=oneClass._id %>','<%= classFound.assignments.length %>')">
              <td id="name"> <%= oneClass.name %></td>
              <td id="grade"> <%= oneClass.grade %></td>
              <td id="total"> <%= oneClass.total %></td>
              <td hidden id="<%= oneClass._id %>"></td>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <!-- Assignments Stats  -->
        <div id="assignmentStats" class="ui mt-5 raised very padded text container segment">
          <div id="title_bar" class="ui header">
            <div id="button2">-</div>
          </div>
          <div id="box2">
            <!-- TODO: If you have a popover of your total percentage -->
            <!-- TODO: Change color as you go down.  -->
            <h1 class="ui header mb-1 text-center">You have</h1>
            <div class="progress" style="height: 30px;">
              <div class="progress-bar d-inline progress-bar-striped progress-bar-animated bg-info text-dark my-auto"
                role="progressbar" id="gradeProgressBar">
                <span id="maxGrade" class="h4"></span>
                <span class="h4"> / </span>
                <span class="h4" id="maxTotal"></span>
              </div>
            </div>
            <h1 class="ui header mb-1 text-center">Points left before you lose your grade</h1>
            <div class="progress" style="height: 30px;">
              <div class="progress-bar d-inline progress-bar-striped progress-bar-animated bg-info text-dark my-auto"
                role="progressbar" id="pointsLeftProgressBar">
                <span class="h4" id="pointsLeft"></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
      <div class="content"></div>
    </nav>

  </div>

</body>

<script src="/js/showPage.js"></script>


<% include ../partials/footer %>