<% include ../partials/header %>

<!-- Manupulating Assignment  -->
<div class="ui main show-page container">
  <div class="wrapper-modal-editor">
    <div class="row d-flex justify-content-center modalWrapper">

      <!-- Add new assignment to the table  -->
      <div class="text-center">
        <a href="/classes/<%= classFound._id %>/assignment/new"
           class="btn btn-info btn-rounded btn-sm" id="addAssignment">Add
          <i class="fas fa-plus-square ml-1"></i>
        </a>
      </div>
      <div class="modal fade addNewInputs" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
          </div>
        </div>
      </div>

      <!-- Edit the selected assignment  -->
      <div class="text-center buttonEditWrapper">
        <button class="btn btn-info btn-rounded btn-sm buttonEdit"
                id="editAssignment" disabled>Edit
                <i class="fas fa-pencil-square-o ml-1"></i>
        </button>
      </div>
      <div class="modal fade modalEditClass" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
          </div>
        </div>
      </div>

      <!-- Deleting Assignment  -->
      <div class="text-center">
          <button id="deleteAssignment"
                  class="btn btn-danger btn-sm btn-rounded buttonDelete delete-form"
                  disabled> Delete <i class="fas fa-times ml-1"></i>
          </button>
      </div>
      <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
          </div>
        </div>
      </div>

    </div>
  </div>


  <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <th class="th-sm">Name</th>
      <th class="th-sm">Grade</th>
      <th class="th-sm">Total</th>
      <th class="th-sm"> Estimate </th>
    </thead>
    <tbody>
      <% classFound.assignments.forEach(function(oneClass){ %>
      <tr onclick="editRow('<%=oneClass._id %>','<%=classFound._id %>')" >
        <td>
          <%= oneClass.name %>
        </td>
        <td>
          <%= oneClass.grade %>
        </td>
        <td>
          <%= oneClass.total %>
        </td>
        <td id="<%= oneClass._id %>"></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
</div>

<script type="text/javascript" src="/js/result.js"></script>
<% include ../partials/footer %>
