<form class="needs-validation" id="editAssignmentForm"
  action="/users/<%= currentUser._id %>/classes/<%= classFound._id %>/assignments/<%= assignFound._id %>?_method=PUT"
  method="post" onsubmit="checkTotal()">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold text-default ml-5">Edit Assignment</h4>
    <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="md-form mb-5">
      <input name="assignUpdate[name]" onblur="checkTotal()" type="text" id='inputName' value="<%= assignFound.name %>"
        class="form-control validate" required>
      <label class='active' for="inputName">Assignment Name</label>
    </div>

    <div class="md-form mb-5">
      <% if(assignFound.grade == -1){ %>
      <input name="assignUpdate[grade]" onblur="checkTotal()" type="text" id='editGrade' value="NG"
        class="form-control validate" required>
      <% } else { %>
      <input name="assignUpdate[grade]" onblur="checkTotal()" type="text" id='editGrade'
        value="<%= assignFound.grade %>" class="form-control validate" required>
      <% } %>
      <label class='active' for="editGrade">Grade</label>
      <label id="gradeErr" class="text-info">Please Input 'NG' if it's Not Graded</label>
    </div>

    <div class="md-form">
      <input name="assignUpdate[total]" onblur="checkTotal()" id='editTotal' type="number"
        value="<%= assignFound.total %>" class="form-control validate mb-0" required>
      <label class='active' for="editTotal">Total</label>
      <label id="error">The total has to be greater than the grade</label>
    </div>

    <div class="btn-group">
    <!-- Select the picked category -->
      <% selectedName = "" %>
      <% classFound.categories.forEach(function(category){ %>
        <% if(assignFound.category.id == category._id){ %>
          <% selectedName = category.name %>
       <% } %>
      <% }) %>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= selectedName %>
      </button>
      <div class="dropdown-menu">
        <% classFound.categories.forEach(function(category){ %>
        <a class="dropdown-item" data-value="<%= category._id %>"><%= category.name %></a>
        <div class="dropdown-divider"></div>
        <% }) %>
      </div>
    </div>

  </div>
  <input type="hidden" class="Check" name="assignUpdate[categoryID]">
  <input type="hidden" name="assignUpdate[flag]">

  <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
    <button type="submit" id="submit" class="btn btn-outline-default waves-effect btn-block buttonAdd">Edit Assignment
    </button>
  </div>
</form>

<script src="/js/assignmentForms.js"></script>

<script>
  $(".dropdown-menu a").click(function () {
    $('.dropdown-toggle').html($(this).parents(".dropdown").context.innerHTML)
    dataValue = $(this).attr('data-value')
    $('input[name="assignUpdate[categoryID]"]').val(dataValue)
  });
  // Assign value to input name 
  $('input[name="assignUpdate[flag]"]').val('<%= assignFound.category.id %>')
</script>


<style media="screen">
  #error {
    margin-top: 2em;
    color: #CD5C5C;
    font-size: inherit;
    visibility: hidden;
  }

  #gradeErr {
    margin-top: 30px
  }

  .md-form .text-info.active,
  #error.active {
    transform: translateY(0%);
    font-size: 1rem;
    transition: none;
  }
</style>